<h1><h1><%= t('.title_welcome') %></h1></h1>

<div class="sessions_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  
  <%= form_tag do %>
    <fieldset>
    <legend>Please Log In</legend>
    <div>
      <%= label_tag :user_login, 'User Login:' %>
      <%= text_field_tag :user_login, params[:user_login], :autofocus => true %>
    </div>
    <div>
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
    </fieldset>
  <% end %>
  
</div>
