<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="container-fluid center">
    <div class="jobs form">
      <div class="row well" style="vertical-align: middle;">

        <div class="container">
          
          <div class="row">
            <div class="span2"><%= f.label :name %></div>
            <div class="span10"><%= f.text_field :name %></div>
          </div>
          
          <div class="row">
            <div class="span2"><%= f.label :command %></div>
            <div class="span10"><%= f.text_field :command %></div>
          </div>
          
          <div class="row">
            <div class="span2">Minute</div>
            <div class="span10">
                <%= select( "iminute", "value", {
                                  "Every" => "*",
                                   "*/5" => "*/5",
                                   "*/10" => "*/10",
                                   "*/15" => "*/15",
                                   "*/30" => "*/30"}) %>
              </div>
          </div>
          
          <div class="row">
            <div class="span2">Hour</div>
            <div class="span10">
                <%= select( "ihour", "value", {
                                    'Every' => '*',
                                    '0' => '0',
                                    '1' => '1',
                                    '2' => '2',
                                    '3' => '3',
                                    '4' => '4',
                                    '5' => '5',
                                    '6' => '6',
                                    '7' => '7',
                                    '8' => '8',
                                    '9' => '9',
                                    '10' => '10',
                                    '11' => '11',
                                    '12' => '12',
                                    '13' => '13',
                                    '14' => '14',
                                    '15' => '15',
                                    '16' => '16',
                                    '17' => '17',
                                    '18' => '18',
                                    '19' => '19',
                                    '20' => '20',
                                    '21' => '21',
                                    '22' => '22',
                                    '23' => '23'}) %>
              </div>
          </div>
          
          <div class="row">
            <div class="span2">Day of Month</div>
            <div class="span10">
                <%= select( "idayofmonth", "value", {
                                    "Every" => "*",
                                    '1' => '1',
                                    '2' => '2',
                                    '3' => '3',
                                    '4' => '4',
                                    '5' => '5',
                                    '6' => '6',
                                    '7' => '7',
                                    '8' => '8',
                                    '9' => '9',
                                    '10' => '10',
                                    '11' => '11',
                                    '12' => '12',
                                    '13' => '13',
                                    '14' => '14',
                                    '15' => '15',
                                    '16' => '16',
                                    '17' => '17',
                                    '18' => '18',
                                    '19' => '19',
                                    '20' => '20',
                                    '21' => '21',
                                    '22' => '22',
                                    '23' => '23',
                                    '24' => '24',
                                    '25' => '25',
                                    '26' => '26',
                                    '27' => '27',
                                    '28' => '28',
                                    '29' => '29',
                                    '30' => '30',
                                    '31' => '31'}) %>
              </div>
          </div>
          
          <div class="row">
            <div class="span2">Month</div>
            <div class="span10">
                <%= select( "imonth", "value", {
                            'Every'     => '*',
                            'January'   => '1',
                            'February'  => '2',
                            'March'     => '3',
                            'April'     => '4',
                            'May'       => '5',
                            'June'      => '6',
                            'July'      => '7',
                            'August'    => '8',
                            'September' => '9',
                            'October'   => '10',
                            'November'  => '11',
                            'December'  => '12'}) %>
              </div>
          </div>
          
          <div class="row">
            <div class="span2">Day of Week</div>
            <div class="span10">
                <%= select( "idayofweek", "value", {
                            'Every'       => '*',
                            'Sunday'      => '0',
                            'Monday'      => '1',
                            'Tuesday'     => '2',
                            'Wednesday'   => '3',
                            'Thursday'    => '4',
                            'Friday'      => '5',
                            'Saturday'    => '6'}) %>
              </div>
          </div>
          
          <div class="row">
            <div class="span2"><%= f.label :status %></div>
            <div class="span10"><%= f.select(:status, JobsHelper::STATUS) %></div>
          </div>
          
           <div class="row">
            <div class="span2"><%= f.label :notify, t('.notify_when') %></div>
            <div class="span10"><%= f.select(:notify, JobsHelper::NOTIFY) %></div>
          </div>
          
          <div class="row">
            <div class="span2"><%= f.label :user, t('.notify_user') %></div>
            <div class="span10"><%= collection_select :job, :user_id, User.find(:all), :id, :user_login %></div>
          </div>
          
        </div>
        
        <div class="actions">
          <%= f.submit %>
        </div>
        
      </div>
    </div>
  </div>
  
  
<% end %>
