<div class="container-fluid center">
  
  <div class="span9">
  <br/>
  <fieldset>
    <legend><h3><%= t('.title_sched_jobs') %></h3></legend>
  </fieldset>
  </div>
  
  <div class="span3" style="text-align: right;">
    <br/><br/>
    <%= link_to t('.new_job'), new_job_path, :class => "btn btn-success btn-mini" %>
  </div>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
  <table class="table table-hover table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th><%= link_to t('.name'), :sort => "name" %></th>
        <th><%= link_to t('.command'), :sort => "command" %></th>
        <th><%= link_to t('.timepattern'), :sort => "timepattern" %></th>
        <th><%= link_to t('.nextrun'), :sort => "nextrun" %></th>
        <th style="text-align: center;"><%= link_to t('.status'), :sort => "status" %></th>
        <th style="text-align: center;"><%= t('.notify_when') %></th>
        <th><%= t('.notify_user') %></th>
        <th colspan=3 style="text-align: center;"><%= t('.actions') %></th>
      </tr>
    </thead>
  
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.name %></td>
          <td><%= job.command %></td>
          <td><%= job.timepattern %></td>
          <td><%= get_Nextrun(job.nextrun) %></td>
          <td style="text-align: center;"><%= raw get_JobStatusText(job.status) %></td>
          <td style="text-align: center;"><%= get_NotifyWhen(job.notify) %></td>
          <td><%= get_UserLogin(job.user_id) %></td>
          <td colspan=3 style="text-align: center;">
            <%= link_to t('.Show'), job, :class => "btn btn-success btn-mini" %>
            <%= link_to 'Edit', edit_job_path(job), :class => "btn btn-success btn-mini" %>
            <%= link_to 'Destroy', job, method: :delete, :class => "btn btn-success btn-mini", data: { confirm: "Delete Job: #{job.name}?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
