<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Command:</strong>
  <%= @job.command %>
</p>

<p>
  <strong>Timepattern:</strong>
  <%= @job.timepattern %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>User:</strong>
  <%= get_UserLogin(@job.user_id) %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
