<h1><%= t('.title_list_users') %></h1>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= link_to t('.user_login'), :sort => "user_login" %></th>
      <th><%= link_to t('.firstname'), :sort => "firstname" %></th>
      <th><%= link_to t('.lastname'), :sort => "lastname" %></th>
      <th><%= link_to t('.email'), :sort => "firstname" %></th>
      <th colspan=3 style="text-align: center;"><%= t('.actions') %></th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_login %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td colspan=3 style="text-align: center;">
          <%= link_to t('.show'), user %>
          <%= link_to t('.edit'), edit_user_path(user) %>
          <%= link_to t('.delete'), user, method: :delete, data: { confirm: "Delete User: #{user.user_login}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_user'), new_user_path %>