<h1><%= t('.title_show_user') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.user_id') %>:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong><%= t('.firstname') %>:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong><%= t('.lastname') %>:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong><%= t('.email') %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t('.edit'), edit_user_path(@user) %> |
<%= link_to t('.back'), users_path %>
