<div class="user_form">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <fieldset>
    <legend><%= t('.title_user_details') %></legend>
    
    <div class="field">
      <%= f.label :firstname, t('.firstname') %>
      <%= f.text_field :firstname, size: 40 %>
    </div>
    
    <div class="field">
      <%= f.label :lastname, t('.lastname') %>
      <%= f.text_field :lastname, size: 40 %>
    </div>
    
    <div class="field">
      <%= f.label :email, t('.email') %>
      <%= f.text_field :email, size: 40 %>
    </div>
    
    <div class="field">
      <%= f.label :user_id, t('.user_id') %>
      <%= f.text_field :user_id, size: 40 %>
    </div>
    
    <div class="field">
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password, size: 40 %>
    </div>
  
    <div class="field" >
      <%= f.label :password_confirmation, t('.password_confirm') %>
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
    </fieldset>
  <% end %>
</div>