<h3><%= t('.title_database_projects') %></h3>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('.project_name') %></th>
      <th colspan=3 style="text-align: center;"><%= t('.last_modified') %></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project, date| %>
      <tr>
        <td><%= link_to project, :controller => "projects", :action => "show", :project => project %></td>
        <td colspan=3 style="text-align: center;">
          <%= date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

