<h3><%= @project %></h3>
<h4><%= @change_set_id %></h4>

<p id="notice"><%= notice %></p>

<pre>
    <%= @change_set_xml %>
</pre>

<%= link_to t('.lnk_back'), 'javascript:history.back()' %>
