<h3><%= @project %></h3>

<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('.deployment_step') %></th>
      <th style="text-align: center;"><%= t('.deployment_status') %></th>
      <th colspan=3 style="text-align: center;"><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @deployment_steps.each do |step, status| %>
      <tr>
        <td><b><%= step %></b></td>
        <td style="text-align: center;"><%= raw status %></span></td>
        <td colspan=3 style="text-align: center;">
          <%= link_to t('.btn_snapshot'), { :controller => "projects", :action => "exec_snapshot", :project => @project, :database => step }, :class => "btn btn-success btn-mini" %>
          <%= link_to t('.btn_forecast'), users_path, :method => "get", :class => "btn btn-success btn-mini" %>
          <%= link_to t('.btn_deploy'), users_path, :method => "get", :class => "btn btn-success btn-mini" %>
          <%= link_to t('.btn_history'), { :controller => "projects", :action => "show_history", :project => @project, :database => step }, :class => "btn btn-success btn-mini" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-bordered table-condensed table-striped">
  
  <td>
  <table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('.change_log') %></th>
    </tr>
  </thead>

  <tbody>
    <% @change_sets.each do |change_set_id| %>
      <tr>
        <td><%= link_to change_set_id, :controller => "projects", :action => "show_change_set", :change_set_id => change_set_id, :project => @project %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </td>
  
  <td>
  <table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('.reports') %></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report, :controller => "projects", :action => "show_report", :report => report, :project => @project %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </td>
  
  <td>
  <table class="table table-hover table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('.snapshots') %></th>
    </tr>
  </thead>

  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= link_to snapshot, :controller => "projects", :action => "show_snapshot", :snapshot => snapshot, :project => @project %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </td>
  
</table>

