@import "bootstrap";
@import "bootstrap-responsive";

body { padding-top: 40px; }

/*
 * Bootstrap Overrides
 */

a:hover,
a:focus {
  text-decoration: none;
  background-color: #91b96f;
}

.nav_sidebar_background {
    background-color: #F5F5F5;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #91b96f;
}