<footer class="footer">
  <nav>
    <center>
    <small>
      <%= image_tag( "copyright.png", :border => 0, :align => "top" ) %> <%= t('.copyright') %>
      <%= image_tag( "datical_logo.png", :border => 0, :align => "top" ) %>
    </small>
    </center>
  </nav>
</footer>