<div class="navbar navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" href="./index.html"><%= image_tag( "datical_hdr_logo.png", size: "22x22", :border => 0, :align => 'middle') %> <%= t('.company_name') %></span>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><%= link_to t('.home'),    root_url %></li>
          <li><%= link_to t('.help'),    '/help' %></li>
          <% if session[:user_login] == nil %>
            <li><%= link_to t('.login'), '/login' %></li>
          <% end %>
          <% if session[:user_login] != nil %>
            <li><%= link_to t('.logout'), '/logout' %></li>
            <li><%= link_to t('.login_as') + "#{session[:user_login]}", '' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>