<br/>
  
<% if session[:user_login] != nil %>
  
<div class='nav_sidebar_background'>
  
  <li class="nav-header"><%= t('.title_projects') %></li>
  <ul>
    <ul class="nav">
      <li><%= link_to image_tag( "database.png", :border => 0, :align => "top" ) + " " + t('.tab_db_projects'), projects_path %></li>
    </ul>
  </ul>
  
  <li class="nav-header"><%= t('.title_jobs') %></li>
  <ul>
    <ul class="nav">
      <li><%= link_to image_tag( "jobs_num.png", :border => 0, :align => "top" ) + " " + t('.tab_jobs'), jobs_path %></li>
      <li><%= link_to image_tag( "runs.png", :border => 0, :align => "top" ) + " " + t('.tab_runs'), jobs_path %></li>
    </ul>
  </ul>
  
  <li class="nav-header"><%= t('.title_users') %></li>
  <ul>
    <ul class="nav">
      <li><%= link_to image_tag( "users.png", :border => 0, :align => "top" ) + " " + t('.tab_users'), users_path %></li>
      <li><%= link_to image_tag( "roles.png", :border => 0, :align => "top" ) + " " + t('.tab_roles'), users_path %></li>
      <li><%= link_to image_tag( "creds.png", :border => 0, :align => "top" ) + " " + t('.tab_credentials'), users_path %></li>
      <br/>
    </ul>
  </ul>
  
</div>

<% end %>
  