<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('.app_name') %></title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>

  <div class="container-fluid">
    
    <%= render 'layouts/header' %>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <%= render :partial => "layouts/nav_sidebar" %>
          <%= render 'layouts/footer' %>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
